[Tt]emp/
[Oo]bj/

/*.unityproj
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.csproj
/*.sln
*.pidb
*.userprefs
*.suo
*.pyc
*.pyc.meta
*.opensdf
*.sdf
.DS_Store
.metadata
Debug.meta
bin.meta
/Assets/Libs/*
/Library
/Builds
